doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")
  
  <link rel="shortcut icon" href="/images/fav.png" type="image/png">
  title
    |Университет Ancor
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .preloader.hide
    .inner
      .lines
        .line.line-1
        .line.line-2
        .line.line-3
      
  .header
    .container
      .flex-item
        a(href="#head") Главная 
        a(href="#programs") Программы
        a(href="#news") Новости
        a(href="#about-us") О нас
        a(href="#partners") Партнеры
        a(href="#footer") Контакты
  #head
    
    .flex-inner
      a(href="#head").logo
        .inner
          .img
            img.svg(src="images/img_logo.svg")
          .logo-txt
            |ancor
        .text
          .txt.move
            |КОРПОРАТИВНЫЙ 
            br
            |УНИВЕРСИТЕТ
        .text-green
          .txt
            |КОРПОРАТИВНЫЙ 
            br
            |УНИВЕРСИТЕТ
        .text-blue
          .txt
            |КОРПОРАТИВНЫЙ 
            br
            |УНИВЕРСИТЕТ
        
      
    .flex-inner
      .main
        .title
          |ЧЕМ БОЛЬШЕ
          br
          |ЗНАЮ, ТЕМ
          br
          |БОЛЬШЕ МОГУ
        
      .slider       
        .slide.slide1
          
        .slide.slide2
          
        .slide.slide3



  .appriciate.appriciate-one#about-us
    .container
      .img
        img.svg(src="images/bckg_1.svg")
      .flex-inner
        .inner
          .flex-item
            
            .flex
              .title
                |ЭКСПЕРТНОСТЬ
              .txt
                |Преподают профессионалы своего дела:
                |сотрудники АНКОР 
                br
                |и приглашенные эксперты
                |Ценность полученных знаний <br>не подвергается
                |сомнению. Это проверенные, эффективные
                |стандарты отрасли.
          .flex-item
            
            .flex
              .title
                |КРЕАТИВНОСТЬ
              .txt
                |Университет развивает нешаблонное
                |мышление. Поощряется создание новых идей
                |И помогает воплощать их в жизнь.
          
        .inner
          .flex-item
            
            .flex

              .title
                |ЛИДЕРСТВО
              .txt
                |Обучение направлено на выявление
                |и развитие <br>у сотрудников лидерских качеств.
                |Учащиеся в университете АНКОР - будущее
                |компании и отрасли в целом.
          .flex-item
            
            .flex
              .title
                |ЧЕЛОВЕК
              .txt.
                
                Университет помогает увидеть, оценить и реализовать
                потенциал учащихся с тем, чтобы они смогли сделать
                
                то же самое в своей работе.  
  

  #programs
    .container
      .head
        .title
          |ПРОГРАММЫ
          br
          |УНИВЕРСИТЕТА
            
      .grid
        a.flex-item.green(href="сontrol-academy.html")
          .line
          .title
            |АКАДЕМИЯ УПРАВЛЕНИЯ
          .txt
            |Программа направлена <br>на формирование и совершенствование навыков стратегического мышления <br>и операционного управления среди топ-менеджмента компании <br>для успешной реализации долгосрочной стратегии холдинга. 
        
        a.flex-item.blue(href="lead.html")
          .line
          .title
            |ШКОЛА 
            br
            |ЛИДЕРСТВА
          .txt
            |Программа развития лидерства направлена на подготовку молодых лидеров, планирующих рост и развитие в рамках АНКОРа.
        
        a.flex-item.yellow(href="index2.html")
          .line
          .title
            |ЛИГА ПРОФЕССИОНАЛОВ
          .txt
            |Программа направлена на развитие навыков и компетенций руководителей среднего звена, необходимых для обеспечения кадровой преемственности на управленческих позициях АНКОРа и успешного выполнения соответствующих функций     
          
  #university
    .container
      .txt
        |Корпоративный университет АНКОР существует с 2013 года и решает следующие задачи:
      .txt
        |- подготовка кадрового резерва холдинга АНКОР в соответствии со стратегическими целями холдинга
      .txt
        |- создание и распространения отраслевых стандартов через внешние образовательные программы  
  .block

    .container
      .flex-inner
       
        .flex-item
          .text
            .title
              |Обучение сотрудников АНКОР
            .txt.
              
                Внутренние программы обучения рассчитаны на все категории персонала – от молодых специалистов до топ-менеджеров. Каждый сотрудник холдинга может подать заявку на обучение. За 2,5 года более 200 сотрудников прошлитак
              
                 обучение в университете АНКОР. Преподавательский состав университета формируется из сотрудников ведущих консалтинговых компаний и образовательных
              
                  учреждений: Институт Адизеса, МИМ ЛИНК, Мастерская Олега Замышляева, тренинговая компания All Brains и другие. 
      .flex-inner
        .flex-item
          .text
            .title
              |Внешние программы
            .txt.
              
                Помимо обучения сотрудников АНКОР, Корпоративный университет предлагает внешние образовательные программы для специалистов HR-отрасли. За 25 лет работы АНКОР накопил
             
                 колоссальную экспертизу в области рекрутмента и трудового права и сейчас делится ей в рамках внешних тренингов и семинаров.
      
                  Для участия в мероприятии необходимо подать заявку на сайте.   
      .flex-inner
        .flex-item
          .text
            .title
              |Стажерская программа
            .txt.
             
                АНКОР нуждается в талантливых молодых людях и готов инвестировать в их развитие. В 2015 году в рамках Корпоративного университета запустилась graduate- программа для студентов и стажеров. 
          
                Программа состоит из серии мастер-классов, летней бизнес-школы, квестов по профессиональному ориентированию и непосредственно стажировки на рабочем месте. Успешное окончание 
       
                программы гарантирует трудоустройство в холдинге и помогает начинающему сотруднику уверенно чувствовать себя на рабочем месте с самых первых дней работы.  
      .flex-inner
        .flex-item
          .text
            .title
              |Открытые мероприятия
            .txt.
             
                Корпоративный университет регулярно проводит открытые мероприятия для клиентов и партнеров холдинга на самые актуальные темы: «Эмоциональное лидерство руководителя», «Построение и продвижение HR-бренда», 
           
                «Преодоление сопротивления при внедрении изменений», «Внедрении технологии корпоративного коучинга» и проч. Мероприятия проводят приглашенные спикеры – ведущие 
              
                эксперты по данным направлениям. Для участия в мероприятии необходимо подать заявку на сайте.
         

        

  
        
  #news
    .container
      .title
        |НОВОСТИ И СОБЫТИЯ
      .inner
        .flex-inner
          a(href="news.html")
            .flex-item(style="height: 300px")

              .img
                img(src="images/img_news_1.png")
              .title
                |В ЦЕХАХ АВТОВАЗА, 
                <br>
                |С УСПЕХОМ ПРОШЕЛ РЯД 
                |ЛЕКЦИЙ «РУКИ - КРЮКИ
                |ЭТО НОРМАЛЬНO»
              .spanner
                img.svg(src="images/arrow.svg")
        .flex-inner
          a(href="news.html")
            .flex-item(style="height: 300px")
              .img
                img(src="images/img_news_3.png")
              .title
                |ВСТРЕТИЛИСЬ, ПОСИДЕЛИ,
                |ПОГОВОРИЛИ
              .spanner
                img.svg(src="images/arrow.svg")
        .flex-inner
          a(href="news.html")
            .flex-item(style="height: 300px")
              .img
                img(src="images/img_news_4.png")
              .title
                |МЕМБРАННЫЙ РАСТВОРИТЕЛЬ В XXI ВЕКЕ
        
              .spanner
                img.svg(src="images/arrow.svg")
 
  
  
 
  
  

  #partners
    .container
      .title
        |НАШИ ПАРТНЕРЫ
      .flex-inner
        a.flex-item(href="http://case-hr.com/" )
          img.svg(src="images/logo_4.svg")   
        a.flex-item(href="http://motion.su" )
          img.svg(src="images/logo_2.svg" )
        a.flex-item(href="http://www.ancor.ru" )
          img.svg(src="images/logo_3.svg")
        a.flex-item(href="http://www.zamyshlyaev.com" )
          img.svg(src="images/logo_1.svg")
        a.flex-item(href="http://www.paper-planes.ru" )
          img.svg(src="images/logo_5.svg")


  #footer
    .container
      .flex-item.top
        span
          |© 2004-2015 АНКОР

        span.one
          |Эл. почта: 
          span 
            |info@ancor.ru
          br
          |Телефон: +7 (495) 926-41-00
      .flex-item.social
        a(href="")
          img.svg(src="images/icon_soc_vk.svg")
        a(href="")
          img.svg(src="images/icon_soc_fb.svg")
      .flex-item.bottom
        |Прокачались - 
        a(href="http://www.yourockdude.com" target="_blank") 
          |&nbspyourockdude!