doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")
  <link rel="shortcut icon" href="/images/fav.png" type="image/png">
  title
    |Университет Ancor
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSk6fi3yogHuUL5NB9MP8LLDp8tXdCy9w&language=ru&callback=initMap">
  </script>
  script.
    require('initialize');

body#index-two

  .preloader.hide
    
    .inner
      .lines
        .line.line-1
        .line.line-2
        .line.line-3
  .header
    .container
      .flex-item
        a(href="#head") Главная 
        a(href="#about-pr") О программе
        a(href="#footer") Контакты

  #head
    
    .flex-inner
      a(href="index.html").logo
        .inner
          .img.bl
            img.svg(src="images/img_logo.svg")
          .logo-txt
            |ancor
        .txt.bl
          |КОРПОРАТИВНЫЙ 
          br
          |УНИВЕРСИТЕТ
    .flex-inner
      .main
        .title
          |ШКОЛА
          br
          |ЛИДЕРСТВА
      .slider.slider-two      
        .slide
          
  

  
  .appriciate.appriciate-two#about-pr
    .container
      .title.control
        |«Пока вы не стали лидером, успех заключается<br> в развитии себя. Когда стали – в развитии других»
        br
        span
          |Джек Уэлч
  
  
  .review
    .container
      .txt
        |Программа развития лидерства направлена на подготовку молодых лидеров, планирующих рост и развитие в рамках АНКОРа.


  

  #programs
    .container
      .flex-inner
        .flex-item.blue-two
          .title
            |РЕЗУЛЬТАТЫ
          .txt
            span
              |В процессе обучения участники программы проходят регулярный мониторинг динамики развития лидерских компетенций. Промежуточные мониторинги производятся 1 раз в 6 месяцев, финальный мониторинг – через 2 года после старта программы.

              |По результатам успешного прохождения программы для каждого участника составляется индивидуальный карьерный план и принимается решение о продвижении на управленческие позиции.
       
        .flex-item.blue
          .title
            |ДЛИТЕЛЬНОСТЬ <br>И СОДЕРЖАНИЕ ПРОГРАММЫ
          .txt
            span
              |Программа рассчитана на 2,5 года и состоит из 3-х этапов:
          .txt
            span
              |-
            span
              |активное обучение участников в формате семинаров, тренингов и мастер-классов
          .txt
            span
              |-
            span
              |применение полученных знаний в формате симуляций, бизнес-игр и виртуального моделирования.
          .txt
            span
              |-
            span
              |применение полученных знаний и навыков в реалиях бизнеса.


       

      .flex-inner.about
        .flex-item
          .img
            img(src="images/photo_1.png")
          
        .flex-item
          .title
            |ВЕДУЩИЙ
            br
            |БИЗНЕС-ПРАКТИКУМА
            |- <BR>ПАВЕЛ НИКОЛАЕВ
          .txt
            |Область профессиональных интересов:
          .txt
            span
              |-
            span
              |программы по тонус-менеджменту:
              |исследования тонус-профиля
              |руководителей <br>и профессиональных
              |команд
          .txt
            span
              |-
            span
              |программы по управлению изменениями
          .txt
            span
              |-
            span
              |программы по развитию эмоциональной
              |компетентности
          
      .flex-inner.about-two.about
        .flex-item
          .img
            img(src="images/photo_2.png")
          
        .flex-item
          .title
            |ВЕДУЩИЙ
            br
            |БИЗНЕС-ПРАКТИКУМА
            |-<br>ИЛЬЯ БАЛАХНИН, <br>PAPER PLANS

          .txt
            span
              |-
            span
              |Генеральный директор и управляющий партнер Paper Planes Consulting Agency
          .txt
            span
              |-
            span
              |Руководитель WebInCo Russia
          .txt
            span
              |-
            span
              |Вице-президент IABC/Russia по инновациям
          .txt
            span
              |-
            span
              |Шэф-редактор Venture Business News
          .txt
            span
              |-
            span
              |Бизнес-тренер и коуч
          .txt
            span
              |-
            span
              |программы по развитию эмоциональной
              |компетентности
          .txt.
            Клиенты: Правительство Москвы, Министерство Юстиции, Сколково, Microsoft,
            Ростелеком, Билайн, Мегафон, SAP, М.Видео, Альфа-Банк, Сбербанк, Билайн, Unilever,
            Coca-Cola Hellenic, Universal, Комстар, Bud, Kodak и множество других.
            Преподаватель Русской Школы Управления, Российской академии народного
            хозяйства и государственной службы, Университета Синергия и Московской школы PR.

          


  
  
  .who
    .container
      .title
        |Кто может стать участником программы?
      .txt
        |В программе могут принять участие молодые сотрудники всех СБЕ и территорий холдинга АНКОР.
        br
        |Критерии отбора участников:
        br
        |Занимаемая должность: неруководящие позиции
        br
        |Возраст: от 23 до 30 лет
        br
        |Образование: высшее
        br
        |Стаж работы в компании – не менее 1 года

  .map
    #map
    .inner
      .container
        .label
          .txt
            |Мероприятие состоится
            br
            |20 ноября 2015 года
          .txt
            |9:30 - Сбор участников
            br
            |10:00 - Время начала
            br
            |14:00 - Время окончания
          .txt.
            Место проведения - офис АНКОР
          .txt.
            Адрес: Москва, ул. Станиславского,
            <br>
            д. 21, стр. 3, 5-й этаж

    

 

  #footer
    .container
      .flex-item.top
        span
          |© 2004-2015 АНКОР

        span.one
          |Эл. почта: 
          span 
            |info@ancor.ru
          br
          |Телефон: +7 (495) 926-41-00
      .flex-item.social
        a(href="")
          img.svg(src="images/icon_soc_vk.svg")
        a(href="")
          img.svg(src="images/icon_soc_fb.svg")
      .flex-item.bottom
        |Прокачались - 
        a(href="http://www.yourockdude.com" target="_blank") 
          |&nbspyourockdude!