doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")
  <link rel="shortcut icon" href="/images/fav.png" type="image/png">
  title
    |Университет Ancor
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSk6fi3yogHuUL5NB9MP8LLDp8tXdCy9w&language=ru&callback=initMap">
  </script>
  script.
    require('initialize');

body#index-two

  .preloader.hide
    .inner
      .lines
        .line.line-1
        .line.line-2
        .line.line-3
  .header
    .container
      .flex-item
        a(href="#head") Главная 
        a(href="#about-pr") О программе
        a(href="#footer") Контакты

  #head
    
    .flex-inner
      a(href="index.html").logo
        .inner
          .img
            img.svg(src="images/img_logo.svg")
          .logo-txt
            |ancor
        .txt
          |КОРПОРАТИВНЫЙ 
          br
          |УНИВЕРСИТЕТ
    .flex-inner
      .main
        .title
          |АКАДЕМИЯ
          br
          |УПРАВЛЕНИЯ
      .slider.slider-two      
        .slide
          
  

  
  .appriciate.appriciate-two#about-pr
    .container
      .title.control
        
        |«Знание – главный инструмент управления».
        br
        span
          |Билл Гейтс


  .review
    .container
      .txt
        |Программа направлена на формирование и совершенствование навыков стратегического мышления и операционного управления среди топ-менеджмента компании для успешной реализации долгосрочной стратегии холдинга. 




  
  #programs
    .container
      .flex-inner
        .flex-item
          .title
            |ДЛИТЕЛЬНОСТЬ <BR>И СОДЕРЖАНИЕ ПРОГРАММЫ
          .txt
            span
              |Программа обучения рассчитана на 1 учебный год. 
          .txt
            span
              |Программа состоит из следующих развивающих модулей:
          .txt
            span
              |-
            span
              |Управление изменениями
          .txt
            span
              |-
            span
              |Стратегический менеджмент
          .txt
            span
              |-
            span
              |Стратегическая сессия Syndag
          .txt
            span
              |-
            span
              |Управление персоналом
          .txt
            span
              |-
            span
              |Интерактивная бизнес-симуляция «MANAGE&DIRECT». <br>В ходе игры участники будут создавать кадровые агентства (с нуля), конкурировать между собой, наращивая долю рынка, сражаться за квалифицированных сотрудников и завоевывать лояльность клиентов.
              
          .txt
            span
              |К разработке учебной программы были привлечены эксперты Института Адизеса, фасилитаторы Мастерской Олега Замышляева и другие опытные тренеры.
          
        .flex-item
          .title
            |РЕЗУЛЬТАТЫ
            
          .txt
            span
              |По окончании курса выпускники III ступени Корпоративного Университета АНКОРа получат именные сертификаты<br> от Института Адизеса.
          .txt
            span
              |Результатом реализации программы обучения «Академия управления» станет повышение уровня менеджерских компетенций на всех ступенях управления в холдинге. Новые знания и навыки помогут руководителям скорректировать процесс управления и существенно повысить эффективность компании.
          
      .flex-inner.about
        .flex-item
          .img
            img(src="images/photo_1.png")
          
        .flex-item
          .title
            |ВЕДУЩИЙ
            br
            |БИЗНЕС-ПРАКТИКУМА
            |- <BR>ПАВЕЛ НИКОЛАЕВ
          .txt
            |Область профессиональных интересов:
          .txt
            span
              |-
            span
              |программы по тонус-менеджменту:
              |исследования тонус-профиля
              |руководителей <br>и профессиональных
              |команд
          .txt
            span
              |-
            span
              |программы по управлению изменениями
          .txt
            span
              |-
            span
              |программы по развитию эмоциональной
              |компетентности
         
      .flex-inner.about-two.about
        .flex-item
          .img
            img(src="images/photo_2.png")
          
        .flex-item
          .title
            |ВЕДУЩИЙ
            br
            |БИЗНЕС-ПРАКТИКУМА
            |-<br>ИЛЬЯ БАЛАХНИН, <br>PAPER PLANS

          .txt
            span
              |-
            span
              |Генеральный директор и управляющий партнер Paper Planes Consulting Agency
          .txt
            span
              |-
            span
              |Руководитель WebInCo Russia
          .txt
            span
              |-
            span
              |Вице-президент IABC/Russia по инновациям
          .txt
            span
              |-
            span
              |Шэф-редактор Venture Business News
          .txt
            span
              |-
            span
              |Бизнес-тренер и коуч
          .txt
            span
              |-
            span
              |программы по развитию эмоциональной
              |компетентности
          .txt.
            Клиенты: Правительство Москвы, Министерство Юстиции, Сколково, Microsoft,
            Ростелеком, Билайн, Мегафон, SAP, М.Видео, Альфа-Банк, Сбербанк, Билайн, Unilever,
            Coca-Cola Hellenic, Universal, Комстар, Bud, Kodak и множество других.
            Преподаватель Русской Школы Управления, Российской академии народного
            хозяйства и государственной службы, Университета Синергия и Московской школы PR.

    

  .who
    .container
      .title
        |Кто может стать участником программы?
      .txt
        |Курс рассчитан на руководителей высшего звена АНКОРа и Группы компаний: руководителей функциональных департаментов, директоров СБЕ, операционных менеджеров и руководителей укрупненных региональных бизнес-подразделений. 

    
  .map
    #map
    .inner
      .container
        .label
          .txt
            |Мероприятие состоится
            br
            |20 ноября 2015 года
          .txt
            |9:30 - Сбор участников
            br
            |10:00 - Время начала
            br
            |14:00 - Время окончания
          .txt.
            Место проведения - офис АНКОР
          .txt.
            Адрес: Москва, ул. Станиславского,
            <br>
            д. 21, стр. 3, 5-й этаж

    

 

  #footer
    .container
      .flex-item.top
        span
          |© 2004-2015 АНКОР

        span.one
          |Эл. почта: 
          span 
            |info@ancor.ru
          br
          |Телефон: +7 (495) 926-41-00
      .flex-item.social
        a(href="")
          img.svg(src="images/icon_soc_vk.svg")
        a(href="")
          img.svg(src="images/icon_soc_fb.svg")
      .flex-item.bottom
        |Прокачались - 
        a(href="http://www.yourockdude.com" target="_blank") 
          |&nbspyourockdude!